@import "bootstrap";

// GENERAL SECTION
body {
  background-color: #fbf9fa;
}
a {
  color: white;
}
a:hover {
  color: white;
  text-decoration: none;
}
.btn-primary {
  border: 1px solid #fd0054;
  background-color: #fd0054;
}
.btn-primary:hover {
  border: 1px solid #E4004C;
  background-color: #E4004C;
}
// GENERAL SECTION

// MAIN SCREEN SECTION
.flexbox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white-background {
  border-radius: 6px;
  box-shadow: 2px 2px 6px #444;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.9);
}
#full-screen-background {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b207890c10d8df3f11b7a520ad57d177&auto=format&fit=crop&w=1500&q=80');
}
#splitter-introduction {
  width: 50%;
  color: white;
}
// END MAIN SCREEN SECTION

// NAVBAR SECTION
.navbar {
  justify-content: flex-end;
}
#debts {
  margin: 0 4%;
}
#debts p {
  text-align: right;
  margin: 0;
}
// END NAVBAR SECTION

// CONTENT SECTION
#content {
  margin: 4% auto;
  width: 960px;
}
// END CONTENT SECTION
